nav ul li {
    display: inline;
    padding: 10px;
    margin: 2px;
    background-color: #c19595;

}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #a8a8a8;

} 
nav {
    background-color: #805353;
    padding: 1px;
    margin: 0px
}